@model Diabetes2.Data.Entities.Progress

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Progress</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graphics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Graphics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthStadistics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthStadistics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
